<ion-header>
  <ion-toolbar>
    <ion-title>footer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>

     <ion-fab vertical="bottom" horizontal="center" translucent="true" mode="ios">

       <ion-fab-button color="dark" routerLink="/footer">  
         
          <ion-icon name="home-outline">          </ion-icon>


       </ion-fab-button> 

       
    </ion-fab>

    <ion-tab-bar slot="bottom" color="dark" mode="ios">

       <ion-tab-button class="coments">
          
         <ion-icon name="add-circle-outline">
         
           <ion-label>Cadastrar</ion-label>
    
            
         </ion-icon>

       </ion-tab-button>
       <div class="division"></div>

       <ion-tab-button tab="contato" class="notifs">
           
          <ion-icon name="phone-portrait-outline"></ion-icon>
            <ion-label>Contato</ion-label>

       </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>


</ion-content>
